.controls-container {
    height: 5vh;
    background-color: var(--background-elevated-base);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .control-button {
    margin: 0 10px;
    padding: 5px 10px;
    background-color: var(--background-elevated-highlight);
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .control-button:hover {
    background-color: var(--background-elevated-press);
  }